/* RECEPY HEADER */
.bubbleArrow_recepy {
  height: 130px;
  width: 100px;
  position: fixed;
  top: -30px;
  left: 80px;
  z-index: -1;
  position: absolute;
}

.recepy-header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 40px;
}

.suggestion {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 2em;
}

.recepy-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #934324;
}

@media (max-width: 768px) {
  .bubbleArrow_recepy {
    display: none;
  }

  .recepy-header {
    margin-top: 30px;
  }

  .suggestion {
    margin-top: 20px;
  }

  .btn_navigation {
    flex-direction: column;
  }
}

/* RECEPY DETAIL */
.recepy-detail {
  padding: 30px;
  display: flex;
  flex-direction: column; /* Změněno na column, aby byly prvky vždy pod sebou */
  gap: 30px;
  flex-wrap: wrap;
  overflow: hidden;
}

.recepy-todo {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.recept_toto--text {
  margin-top: 0;
}

.recepy_todo--img {
  width: 200px;
  height: 200px;
  margin: auto;
}

.recepy-additional {
  flex: 1;
  display: flex;
  flex-direction: column; /* Změněno na column, aby byly prvky vždy pod sebou */
  gap: 20px;
}

.recepy-additional--watchImg,
.recepy-additional--portionImg {
  width: 80px;
  height: 80px;
}

.recepy-additional__time,
.recepy-additional__portions {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}

.recepy-additional__time>h3 {
  padding: 0;
  margin: 0;
}

.recepy-additional__portions>h3 {
  padding: 0;
  margin: 0;
}

/* BUTTONS TO ADD OR REMOVE PORTION */
.recepy_info_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_navigation {
  display: flex;
  flex-direction: row; /* Zůstává jako row, aby byly tlačítka vedle sebe */
}

.recepy-additional__ingridients {
  display: flex;
  flex-direction: column; /* Změněno na column, aby byly prvky vždy pod sebou */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .bubbleArrow_recepy {
    display: none;
  }

  .recepy-header {
    margin-top: 30px;
  }

  .suggestion {
    margin-top: 20px;
  }

  .btn_navigation {
    flex-direction: column;
  }

  .recepy-detail {
    padding: 15px;
  }

  .recepy-additional {
    gap: 10px;
  }

  .recepy-additional__time,
  .recepy-additional__portions {
    flex-direction: column;
    align-items: flex-start;
  }

  .recepy-additional__time h3,
  .recepy-additional__portions h3 {
    margin: 5px 0;
  }
}
