.footer {
  position: absolute;
  right: 20px;
  bottom: 20px;
  margin-top: 20px;
  margin-right: 30px;
}


.footer-text {
  text-decoration: none;
  color: #F3E3C4;
  font-weight: inherit;
  font-style: inherit;
}

@media (max-width: 768px) {
  .footer {
    right: 0px;
  }
}
