body {
  background-color: #D6B394;
  min-width: 400px;
  padding: 0;
  margin: 0;
}

.question-form {
  position: relative;
  background-color: #F3E3C4;
  max-width: 100%;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  padding: 10px 40px 10px 40px;
}

.question-form p {
  color: white;
}

.bottom-line {
  height: 20px;
  background-color: #934324;
}





/* cards flip-over styles */

.cardcontainer {
  position: relative;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  width: 200px;
  height: 200px;
  background-color: transparent;
  perspective: 1000px;
  /* border: 2px solid transparent; */

  &:hover {
    .card {
      transform: rotateY(180deg);
    }
  }


  /* & .activeCard {
    border: 2px solid #cbdf58;
  } */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  box-sizing: border-box;
  border: 4px solid transparent;

  .activeCard & {
    border: 4px solid #EC6803;
  }
}

.front {
  background: #934324;
  color: #b3a8a3;
}

.back {
  background-color: #3C2B14;
  color: #b3a8a3;
  transform: rotateY(180deg);

  display: flex;
  justify-content: center;
  align-items: center;
}



@media (max-width: 768px) {
  body {
    background-color: #934324;
  }

  .main {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* padding-bottom: 50px; */
    border-left: none;
    border-right: none;
  }

  .text {
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }



  .question-form {
    margin-left: 60px;
    margin-right: 60px;
  }

}
