.btn {
  margin: 20px 30px 25px 30px;
  color: #F3E3C4;
  background-color: #3C2B14;
  width: 100px;
  height: 37px;
  border-radius: 45px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  color: azure;
}
