* {
  box-sizing: border-box;
}

body {
  background-color: #D6B394;
  min-width: 400px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
a {
  color: #3C2B14;
}

.main {
  max-width: 900px;
  background-color: #934324;
  margin: auto;
  -webkit-box-shadow: -1px 30px 50px 8px #3C2B14;
  -moz-box-shadow: -1px 30px 50px 8px #3C2B14;
  box-shadow: -1px 30px 50px 8px #3C2B14;
  border-left: 0.5px solid #D6B394;
  border-right: 0.5px solid #D6B394;
  position: relative;
  padding-bottom: 65px;
}

.full-height {
  min-height: 100vh;
}

.auto-height {
  height: 100%;
  min-height: 100vh;
}

.text {
  background-color: #F3E3C4;
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.bottom-line {
  height: 20px;
  background-color: #934324;
}

h1,
h2,
h3 {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 100%;
}

h2 {
  font-size: 2em;
}

h3 {
font-size: 1.5em;
}


.main_content {
  text-align: center;
  padding: 10px 40px 10px 40px;
}

.main_content>h3 {
  margin-top: 30px;
}

p {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2em;
}

a {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  border: none;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  border-radius: 10px;
  margin-top: 50px;
  align-items: center;
}

.button {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  display: inline-block;
  background-color: #3C2B14;
  /* width: 180px; */
  padding: 0 30px;
  line-height: 37px;
  border-radius: 45px;
  text-align: center;
  text-decoration: none;
  color: #F3E3C4;
  text-wrap: nowrap;
}

.img_cornerSquirrel {
  height: 200px;
  width: 215px;
  bottom: 0px;
  left: 0;
  position: absolute;
}

/* .footer {
  position: fixed;
  bottom: 10px;
  right: 50px;
} */

@media (max-width: 768px) {
  body {
    background-color: #934324;
    min-width: auto;
    /* Přidáno */
  }

  .main {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-left: none;
    border-right: none;
    width: 100%;
    /* Přidáno */
    padding: 0 20px;
    /* Přidáno */
  }

  .text {
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto;
    /* Přidáno */
  }

  h1,
  h2,
  h3 {
    font-size: 2em;
    /* Přidáno */
    margin-top: 20px;
    /* Přidáno */
    margin-bottom: 20px;
    /* Přidáno */
  }

  .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .button {
    min-width: 40%;
    margin-top: 20px;
  }

  .img_cornerSquirrel {
    position: relative;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 10px 50px 8px #3C2B14;
    -moz-box-shadow: 0px 10px 50px 8px #3C2B14;
    box-shadow: 0px 10px 50px 8px #3C2B14;
  }
}
