.text {
  background-color: #F3E3C4;
  max-width: 100%;
  display: flex;
  padding-bottom: 0px;
}

.main_content {
  margin: 0;
  padding: 0;
}

.main_paragraph {
  margin-left: 30px;
}

.details_aboutUs {
  padding: 0px;
  margin: 50px;
  border-radius: 10px;
}

h3 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
}

.img_onTheTree {
  height: 100%;
  width: 320px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  object-fit: cover
}

@media (max-width: 768px) {

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .details_aboutUs {
    background-color: #F3E3C4;
    display: flex;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  .about_person {
    font-size: 1.2em;
  }

  .card_person {
    min-width: 25vw;
  }

  .header_us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 3;
  }
}
