body {
  /* background-color: #934324; */
  /* margin-left: 40px;
  margin-right: 60px;
  max-width: 100%; */
}

h1 {
  /* font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 100%;
  padding-bottom: 15px; */
}

.text {
  background-color: #F3E3C4;
  /* background-size: contain; */
  max-width: 100%;
  /* height: auto; */
  /* margin: auto; */
  /* border-radius: 10px; */
  display: flex;
  padding-bottom: 0px;
}

.main-content {
  margin: 0;
  padding: 0;
}



p {
  /* font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7em;
  padding: 40px; */
}

a {
  /* font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border: none; */
}

h3 {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 1.5em;
}


.img_onTheTree {
  height: 100%;
  width: 320px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  object-fit: cover
}

@media (max-width: 768px) {
  /* body {
    min-width: 450px;
  } */

  h1 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }

  /* .main {
    height: 100vh;
  } */

  /* .background {
    width: 100%;
    /* min-width: 500px;} */

  /* .img_onTheTree {
    display: none;
  } */


}

@media (max-width: 892px) {
  .text {
    flex-direction: column;
    align-items: center;
  }

  .img_onTheTree {
    position: relative;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    /* border: 0.5px solid #3C2B14; */
    -webkit-box-shadow: 0px 10px 50px 8px #3C2B14;
    -moz-box-shadow: 0px 10px 50px 8px #3C2B14;
    /* box-shadow: -1px 30px 50px 8px #3C2B14; */
    box-shadow: 0px 10px 50px 8px #3C2B14;
  }
}
