/* .header {
  display: flex;
} */

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}

.logo {
  background-image: url("./img/Squirrel_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.logo:hover {
  background-image: url("./img/Squirrel_logo_tong.svg");
}

.menu {
  background-color: #F3E3C4;
  display: flex;
  /* justify-content: space-around; */
  border-radius: 10px;
  width: 100%;
  height: 50px;
  align-self: right;
  margin: auto;
  margin-right: 0;
  margin-top: 10px;

}

.menu_item {
  display: flex;
  align-items: center;
  /* flex-wrap: nowrap; */
  /* justify-content: space-evenly; */
  width: 100%;
  height: 100%;
  /* min-width: 170px; */
  /* width: 100px; */
  /* height: 100px; */
  position: relative;
  justify-content: center;
  /* font-size: 1em; */
}

.nut {
  background-image: url("./img/Nut.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  /* align-self: center; */
  /* width: 100%;
  height: 100%; */
  width: 50px;
  height: 50px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}


.menu_HomePage,
.menu_aboutGame,
.menu_aboutUs {
  position: relative;
  white-space: nowrap;
  max-height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  /* Inherit the color from the parent element */
  font-weight: inherit;
  /* Inherit the font weight from the parent element */
  font-style: inherit;
  /* margin: 0 auto; */
}

@keyframes shiver2 {
  0% {
    transform: rotate(180deg) rotate(4deg);
  }

  50% {
    transform: rotate(180deg) rotate(-4deg);
  }

  100% {
    transform: rotate(180deg) rotate(4deg);
  }
}

.menu_item:hover .menu_HomePage {
  color: #934324;
}

.menu_item:hover .menu_aboutGame {
  color: #934324;
}

.menu_item:hover .menu_aboutUs {
  color: #934324;
}

.menu_item:hover .nut {
  animation: shiver2 0.2s;
}


/* Styly pro hamburger menu */
.hamburger-menu {
  display: none;
  cursor: pointer;

}

.line {
  width: 50px;
  height: 5px;
  background-color: #3C2B14;
  margin: 10px;
}

@media (max-width: 768px) {
  a {
    font-size: 2em;
  }

  .menu {
    display: none;
  }

  .menu_HomePage,
  .menu_aboutGame,
  .menu_aboutUs {
    margin-right: 20px;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
  }

  .line.open {
    background-color: #F3E3C4;
  }

  .hamburger-menu {
    display: block;
  }

}
